/**
 * css 样式重置，针对重置变量无法完成的css
 * 
 */

/********************
表格样式重置        
********************/
.ivu-table table{ width: 100% !important;}
.ivu-table-stripe .ivu-table-body tr:nth-child(2n+1) td, 
.ivu-table-stripe .ivu-table-fixed-body tr:nth-child(2n+1) td{
	background: rgba(73,133,243,0.05);
}
.ivu-table th, .ivu-table td{
	height: 60px !important;
}

/********************
分页样式重置        
********************/
.ivu-page-prev{
	margin-right: 0 !important;
}
.ivu-page-next{
	margin-left: 0 !important;
}
.ivu-page-item{
	margin-right: 0 !important;
}

.ivu-page-prev, 
.ivu-page-item-jump-prev
{
	border-radius: 4px 0 0 4px !important;
}
.ivu-page-next, 
.ivu-page-item-jump-next{
	border-radius: 0 4px 4px 0 !important;
}
.ivu-page-item{
	border-radius: 0 !important;
}